	body {
		font-family: "Tahoma", "Geneva", "sans-serif";	
	}


/*BOX STYLES*/
	
	.box{
		border:1px black solid;
		border-radius:3px;
		width:70px;
		height:52px;
		font-size: 2em;
		text-align: center;
		background-color: #C8E7DF;
		color:#000;
		padding:6px;
		margin-top:5px;
		margin-right:5px;
		position:relative;
		float:left;
		cursor: pointer;
		box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	}


/*BOX A STYLE*/
	.boxA{
		border:1px black solid;
		border-radius:3px;
		width:98px;
		height:37px;
		font-size: 2em;
		text-align: center;
		background-color:#dcefea;
		padding:6px;
		margin-top:5px;
		margin-right:5px;
		position:relative;
		float:left;
		cursor: pointer;
		box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	}


/*BOX B STYLE*/
	.boxB{
		border:1px black solid;
		border-radius:3px;
		width:45px;
		height:37px;
		font-size: 2em;
		text-align: center;
		background-color:#dcefea;
		padding:6px;
		margin-top:5px;
		margin-right:5px;
		position:relative;
		float:left;
		cursor: pointer;
		box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	}


/*BOX C STYLE*/
	.boxC{
		border:1px black solid;
		border-radius:3px;
		width:98px;
		height:37px;
		font-size: 2em;
		text-align: center;
		background-color:#dcefea;
		padding:6px;
		margin-top:5px;
		margin-right:5px;
		position:relative;
		float:left;
		cursor: pointer;
		box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	}

	.button{
		border:1px black solid;
		border-radius:3px;
		width:145px;
		height:52px;
		font-size: 2em;
		text-align: center;
		background-color: #C8E7DF;
		color:#000;
		padding:6px;
		margin-top:5px;
		margin-right:5px;
		position:relative;
		float:left;
		cursor: pointer;
		box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	}


/*CALCULATOR BOX*/
	#calculator{
		border-radius:3px;
		background-color:#2F6F5E  ;
		margin: 50px auto;
        width: 300px;
        height: 350px;
        border: 1px solid #2F6F5E  ;
        padding: 10px;
        float:center;
	}



/*ROW 1*/

	#boxLeft {

	}

	#boxMid {

	}

	#boxRight {

	}



/*ROW 2*/

	#boxClr {
		clear:left;
	}
	#boxNeg {

	}
	#boxPerc {
		
	}
	#boxDiv{

	}



/*ROW 3*/

	#box7 {
		clear:left;
	}

	#box8 {

	}

	#box9 {

	}
	#boxMult {

	}



/*ROW 4*/

	#box4 {
		clear:left;
	}

	#box5 {

	}

	#box6 {

	}

	#boxSubt {

	}



/*ROW 5*/

	#box1 {
		clear:left;
	}

	#box2 {

	}

	#box3 {

	}
	#boxAdd {

	}



/*ROW 6*/

	#box0 {
		clear:left;
	}

	#boxDot {

	}

	#boxEq {

	}