body {
	background-color: #626D71;
	color: grey;
	text-align: center;
	font-size: 1.6vw;
	text-decoration: bold;
	font-family: 'News Cycle', sans-serif;
} 

.days {
	width: 85%;
	margin: auto;
	background-color: grey;
	text-align: center;
}

.day, .forecast {
	background-color: #CDCDC0;
	height: 0 auto;
	width: 28.4%;
	max-width: 300px;
	padding: 10px;
	display: inline-block;
    /*position: center;*/
	float: left;
	margin: 10px;
	font-family: 'News Cycle', sans-serif;
}

h1 {
	color: #D09683;
	font-family: 'Acme', sans-serif;
	font-size: 7vw;
}

#map-canvas {
	width: 97%;
	height: 350px;
	margin-top: 90px;
    position:fixed;
    display: inline-block center;
}

#form {
	display: inline-block;
	font-size: 1vw;
	margin-top: 20px;
}

#search {
	margin-top: 20px;
}

.latlong {
	color: #D09683;
	font-family: 'News Cycle', sans-serif;
	font-weight: bold;
}


@media screen and (max-width: 800px) {
	.days {
	width: 90%;
	margin: auto;
	padding: 20px;
	border: 
	}
	.day, .forecast {
		width: 50%;
		max-width: 100%;
	}
}



